@model VraagDetailsViewModel
@{
    <form method="post">
        <input type="hidden" value="@Model.Id" name="VraagId" />
        <div class="container">

            <!-- Trigger -->
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#AddAntwoordModal">Toevoegen</button>

            <!-- Modal -->
            <div class="modal" tabindex="-1" id="AddAntwoordModal" role="dialog">
                <div class="modal-dialog" role="document">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Antwoord Toevoegen</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                             Nieuw Antwoord
                            <input type="text" name="txtAntwoordText"  required/>
                        </div>

                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success" value="Toevoegen" asp-controller="Antwoord" asp-action="Add">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
