@model VraagDetailsViewModel
@{
    <form method="post">
        <div class="container">
            <input type="hidden" name="txtId" value="@Model.Id"/>

            <!-- Trigger -->
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#DeleteAntwoordModal">Delete</button>

            <!-- Modal -->
            <div class="modal" tabindex="-1" id="DeleteAntwoordModal" role="dialog">
                <div class="modal-dialog" role="document">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Verwijderen?</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <p>Weet je zeker dat je dit item wilt verwijderen?</p>
                        </div>

                        <div class="modal-footer">
                            <input type="submit" class="btn btn-danger" value="Ja" asp-controller="Vraag" asp-action="Delete">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Nee</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
