<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quizapp.Properties.Settings.QuizAppConnectionString"
            connectionString="Data Source=DESKTOP-29CMDRN\SQLEXPRESS;Initial Catalog=QuizApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>