<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DataConnectionString" connectionString="Data Source=mssql.fhict.local;Initial Catalog=dbi462787;User ID=dbi462787;Password=RscnvPQ4;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>